<script src="/javascripts/barcode.js" type="text/javascript"></script>
<script type="text/javascript">
  function fillBarcode(digits) {
    $('#barcode_digits').val(digits)
  }
  
    function draw() {
        var canvas = document.getElementById("canvas");
        if (canvas.getContext) {
            var c = canvas.getContext("2d");
            
            var i = new Image();
            i.onload = function() {
                c.drawImage(i, 0, 0);
            }
            i.src = "/barcode_test_1.png";
            //i.src = "/5099750442227_2.png";                
        }
    }
    
    function read(callback) {
        var canvas = document.getElementById("canvas");
        if (canvas.getContext) {
            var c = canvas.getContext("2d");
            read_barcode(c, callback);
        }
    }

</script>
<form method="GET" action="/lookup" data-ajax="false">
  <div id="scanner-holder" style="text-align: center;">
    <h1>Welcome to BarcodeThing</h1>
      <canvas id="canvas" width="500" height="300" onclick="read(fillBarcode);"></canvas>
    <p>We currently don't support capturing images from this device, you can however enter the EAN of the product you wish to search for</p>
    <ul data-role="listview" data-inset="true" style="margin-left: 20%; margin-right: 20%;"><li style="text-align: center; padding-right: 15px; ">
      <div data-role="fieldcontain">
        <label for="barcode">Barcode:</label>
        <input id="barcode_digits" type="text" name="barcode">
      </div>
      <div data-role="fieldcontain">
        <input type="submit" value="Search" />
      </div>
    </li></ul>
  </div>
</form>
<script type="text/javascript">
  $(function () {
    draw();
  });
</script>
