<html>
  <head>
    <title>Barcode Thing</title>
<!--    <link rel="stylesheet" rev="stylesheet" href="/stylesheets/style.css" type="text/css" />-->
    <link rel="stylesheet" href="/stylesheets/jquery.mobile-1.0b1.min.css" />
    <script type="text/javascript" src="/javascripts/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.mobile-1.0b1.min.js"></script>
  </head>
  <body>
    <div data-role="page">
      <div data-role="header">
        <a href="#" data-role="button" data-rel="back" data-icon="home" data-iconpos="notext" class="ui-btn-right">Home</a>
        <img src="/images/logo.png" alt="Barcode Thing" />
      </div>
      <div data-role="content">
          {{html body}}
      </div>
      <div data-role="footer">
        <img src="/images/footer.png" alt="Barcode Thing" />
      </div>
    </div>
  </body>
</html>
